<div class="brand">Brand Tanganyika </div>
<div class="address-bar">1274 Meru Kenya </KE>| Tel No 072955277 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12 text-center">
                <div id="carousel-example-generic" class="carousel slide">
                    <!-- Indicators -->
                    <ol class="carousel-indicators hidden-xs">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol
                     

                    <!-- Wrapper for slides -->
                    <div class="carousel-inner">
                        <div class="item active">
                            <img class="img-responsive img-full"src="/assets/honor.jpg"  class="expand"  alt="" class="expand" >
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full" img src="/assets/honor.jpg" alt="" class="expand" >
                        </div>
                        <div class="item">
                            <img class="img-responsive img-full"src="/assets/honor.jpg"  alt="" class="expand" >
                        </div>
                    </div>
                    
                     <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="img/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="img/slide-3.jpg" alt="">
                            </div>
                        </div>
                    

                    <!-- Controls -->
                    <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
                </div>
                <h2 class="brand-before">
                    <small>Welcome to</small>
                </h2>
                <h1 class="brand-name">Brand Tanganyika </h1>
                <hr class="tagline-divider">
                <h2>
                    <small>By
                        <strong>Developer Newton </strong>
                    </small>
                </h2>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Where Quality
                    <strong>Negotiable prices</strong>
                </h2>
                <hr>
                <img class="img-responsive img-border img-left" src="img/slide-1.jpg" alt="">
                <hr class="visible-xs">
                <p>We are a Group of companies who make the best quality furniture for household, office and school purpose all for your need . We have over 40 years experience in the business and are adding some more, we love to make you comfortable and happy.</p>
                <p> We take pride in thanking our  founding fathers for the amazing work they did in starting this comapny and we wil forever iconize them in our hearts and lives the late <b> Masawe </b>  and the late mr <b>Mboya</b> your work is valued.</p>
                <p>Our company has evolved to a digital nature encompassing all geographical area of kenuya and the nearby cities, we would like to futther expand and thank all of our customers for their continued support through out the years.we love you so much </p>
       class="btn btn-default">Go to Google
      
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Beautiful items
                    <strong>worth your money</strong>
                </h2>
                <hr>
                <p>We make custom household,school and office furniture in both large and small quantities. We deal with both imports and exports. feel free to visit any of our local offices to place an order </p>
                <p>order on any piece of furniture of your liking on the button below ! They are great for just about anything, the sky's the limit!</p>
                <li> order now </li>
                <li> get 10% discount on all online orders </li>
                
               
                  <a href="/orders" <button type="button" class="btn btn-primary btn-lg btn-block">Order now</button></a>
            </div>
        </div>
    </div>

</div>
<!-- /.container -->

<!-- Script to Activate the Carousel -->
<script>
$(document).on('ready', function () {
  $('.carousel').carousel({
      interval: 1000 //changes the speed
  })
});
</script>
