<div class="brand">Brand Tanganyika</div>
<div class="address-bar">3481 Melrose Place | Beverly Hills, CA 90210 | 123.456.7890</div>

<%= render 'layouts/navigation' %>

<div class="container">

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">About
                    <strong>Brand Tanganyika </strong>
                </h2>
                <hr>
            </div>
            <div class="col-md-6">
                <img class="img-responsive img-border-left" src="/assets/octo.jpg"  alt="">
            </div>
            <div class="col-md-6">
                <p>We mkae custom made Desighns for Office , household, school and institutional furniture .</p>
                <p>Most of our items are authentic rare and excuisitely made using locally avaialble materuals with skilled craftsmen from different backgrounds. we are a family enterprise wich works for the best always .</p>
                <p>Feel free to place an order with our trusted agent from this website, we value oyur presence as a customer and wish you can come visit us soon in one of our local workshops in kenya.</p>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

    <div class="row">
        <div class="box">
            <div class="col-lg-12">
                <hr>
                <h2 class="intro-text text-center">Our
                    <strong>Team</strong>
                </h2>
                <hr>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Naomi Robert 
                    <small>Director of Operations </small>
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>Gitobu Gitobu
                    <small>Human Resource 
                </h3>
            </div>
            <div class="col-sm-4 text-center">
                <img class="img-responsive" src="http://placehold.it/750x450" alt="">
                <h3>John 
                    <small>Job Title</small>
                </h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>

</div>
<!-- /.container -->
