<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <p>Copyright &copy; Brand Tanganyika 2016</p>
            </div>
        </div>
    </div>
</footer>
